/*
* @Author: thain
* @Date:   2018-06-25 23:42:32
* @Last Modified by:   thain
* @Last Modified time: 2018-06-29 21:01:08
*/

body{
    font-size: 12px;
    background: #fff;
    font: 12px/1.5 tahoma,arial,Hiragino Sans GB,WenQuanYi Micro Hei,\5FAE\8F6F\96C5\9ED1,\5B8B\4F53,sans-serif;
}
a{
    color: #333;
    text-decoration: none;
    out-line:none;
}

header{
    width: 100%;
    height: auto;
    color:#333;
    background: #fff;
}
.top-menu-bar{
    width: 100%;
    background: #f5f5f5;
}
/*顶部菜单栏*/
.top-menu{
    background: #f5f5f5;
    width: 1000px;
    height: 28px;
    margin: 0 auto;
    box-sizing: border-box;
}
.address{
    width: 84px;
    height: 26px;
    color: #333;
    display: inline-block;
    position: relative;
    left:0px;
    border:1px solid transparent;
    z-index: 9;

}
b.del{
    color: #8b8a8b;
    height: 20px;
    width: 20px;
    top: 10px;
    right: 8px;
    position: absolute;
    cursor: pointer;
}
b.del:hover{
    color: #666666;
}
h3.city{
    font-weight: normal;
    width: 46px;
    height: 27px;
    margin: 0px auto 0px 16px;
    font-size: 12px;
    line-height: 27px;
    display: inline-block;
    cursor: pointer;
    /* background: gray; */
}
span.addr{
    margin-bottom: 0px;
    margin-left: 1px;
    display: inline-block;
    border-width: 4px;
    cursor: pointer;
    /* border-style: solid; */
    border-color:#999 transparent transparent  transparent;
    border-style: solid dashed dotted dashed;
}
i.white-bar{
    width: 84px;
    height: 2px;
    background: #fff;
    position: absolute;
    top: 26px;
    left: 0px;
    z-index: 11;
    display: none;
}
.seleaddr{
    width: 470px;
    /* height: 276px; */
    position: absolute;
    background: #fff;
    padding: 0 15px; 
    left: -1px;
    top: 27px;
    display: none;
    border: 1px solid #cdcdcd;
    z-index: 9;
}
.seleaddr p{
    padding: 7px 0;
    color: #333;
    line-height: 26px;
}
.tab ul.tab-opin li{
    float: left;
    height: 28px;
    margin-left: -1px;
    width: 68px;
    text-align: center;
    cursor: pointer;
    line-height: 28px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
}
.tab ul.tab-opin li.curr{
    position: relative;
    z-index: 2;
    font-weight: 700;
    background-color: #fff;
    border-top: 2px solid #f10180;
    height: 27px;
    line-height: 27px;
}

i.white-bar-addr{
    width: 70px;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 69px;
    left: 14px;
    z-index: 11;
    display: none;
}

i.white-bar-addr2{
    width: 70px;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 69px;
    left: 83px;
    z-index: 11;
    display: block;
}
section.choice div{
    position: relative;
    top: -1px;
    padding: 20px 13px 18px;
    border-top: 1px solid #ccc;
    width: 444px;
    height: 168px;
    display: none;
    clear: both;
}
section.choice div.curr{
    display: block;
}
ul.province-ul li{
    float: left;
    width: 68px;
    margin-bottom: 2px;
}
ul.province-ul li a{
    display: inline-block;
    max-width: 46px;
    color: #333;
    padding: 0 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border: 1px solid transparent;
    line-height: 20px;
}
ul.province-ul li a:hover{
    color: #f10180;
    border-color: #f10180;
}
ul.province-ul li a.selected{
    color: #fff;
    background: #f10180;
}
ul.cities-ul li{
    float: left;
    width: 103px;
    margin-bottom: 2px;
}
ul.cities-ul li a{
    color: #333;
    max-width: 81px;
    display: inline-block;
    padding: 0 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border: 1px solid transparent;
    line-height: 20px;
}
ul.cities-ul li a:hover{
    color: #f10180;
    border-color: #f10180;
}
ul.cities-ul li a.selected{
    color: #fff;
    background: #f10180;
}



ul#menu{
    float: right;
    height: 28px;
    /* overflow: hidden; */
}
ul#menu li{
    float: left;
    height: 26px;
    line-height: 26px;
    position: relative;
    z-index: 11;

}
header li>div{
    position: relative;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 13px;
    border: transparent 1px solid;
}

.user-in{
    padding: 0 5px 0 15px;
    width: 51px;
    z-index: 11;
}
.user-hover{
    background: #fff;
    border: 1px solid #cdcdcd;
    border-bottom: 1px solid #fff;
}
.regt-in{
    padding: 0 20px 0 10px;
    width: 24px;
    z-index: 11;
}

.sign-in{
    padding: 0 17px 0 10px;
    width: 66px;
    z-index: 11;
}
.order-in{
    width: 48px;
    z-index: 11;
}

li.lispe{
    width: 60px;
    padding: 0 20px 0 13px;
}
.spe-in{
    width: 60px;
    position: absolute;
    left: 0px;
    height: 26px;
    z-index: 11;
}
.spe-hover{
    width: 66px;
    padding: 0 14px 0 19px;
    left: -6px;
    z-index: 11;
    background: #fff;
    border: 1px solid #cdcdcd;
    border-bottom: 1px solid #fff;
}
li.livip{
    width: 72px;
    padding: 0 20px 0 13px;
}
.vip-in{
    width: 72px;
    position: absolute;
    left: 0px;
    height: 26px;
    z-index: 11;
}
.vip-hover{
    width: 78px;
    padding: 0 14px 0 19px;
    left: -6px;
    z-index: 11;
    background: #fff;
    border: 1px solid #cdcdcd;
    border-bottom: 1px solid #fff;
}
li.liserver{
    width: 72px;
    padding: 0 16px 0 17px;
}
.server-in{
    width: 70px;
    position: absolute;
    left: 0px;
    z-index: 11;
}
.server-hover{
    width: 76px;
    padding: 0 14px 0 19px;
    left: -6px;
    z-index: 11;
    background: #fff;
    border: 1px solid #cdcdcd;
    border-bottom: 1px solid #fff;
}
li.limob{
    width: 53px;
    padding: 0 20px 0 13px;
}
.mob-in{
    width: 53px;
    position: absolute;
    left: 0px;
    z-index: 11;
}
.mob-hover{
    width: 57px;
    padding: 0 14px 0 19px;
    left: -6px;
    z-index: 11;
    background: #fff;
    border: 1px solid #cdcdcd;
    border-bottom: 1px solid #fff;
}
li.limore{
    width: 36px;
    padding: 0 20px 0 13px;
}
.more-in{
    width: 36px;
    position: absolute;
    left: 0px;
    z-index: 11;
}
.more-hover{
    width: 42px;
    padding: 0 14px 0 19px;
    left: -6px;
    z-index: 11;
    background: #fff;
    border: 1px solid #cdcdcd;
    border-bottom: 1px solid #fff;
}
ul>li>div>a{
    color: #777;
}

ul#menu li a:hover{
    color: #f10180;
}

.top-menu ul li em{
    position: relative;
    left: 4px;
    bottom: -3px;
    display: inline-block;
    border-width: 4px;
    /* border-style: solid; */
    border-color:#999 transparent transparent  transparent;
    border-style: solid dashed dotted dashed;
    /*后面两行生成三角形*/
}
ul#menu li em.em-hover{
    margin-top: 0;
    margin-bottom: 5px;
    border-style: solid;
    border-color: transparent transparent #f10180 transparent;

}
ul#menu li i{
    display: block;
    height: 16px;
    width: 16px;
    position: absolute;
    background: url('../img/sprites-hash-2.png') ;
    background-position: -246px -184px;
    right: -5px;
    top: 6px;
    z-index: 1;

}
u.sign-gif{
    height: 18px;
    width: 15px;
    display:inline-block;
    background: url("../img/header_sign-hash-gift.gif") no-repeat 100% 100%;
    /*position: relative;*/
    margin-bottom: -2px;
    margin-right: 3px;
}
u.phone-icon{
    position: relative;
    height: 14px;
    width: 10px;
    display: inline-block;
    background: url("../img/sprites-hash-2.png") no-repeat -294px -142px;
    margin-right: 6px;
    margin-left: 1px;
    bottom: -2px;

}

.login{
    height: 153px;
    width: 280px;
    border: 1px solid #cdcdcd;
    /* border-top: 1px solid #fff; */
    position: absolute;
    background: #fff;
    padding: 14px 0 10px 0;
    left: 0px;
    display: none;
    top: 27px;
    z-index: 2;
    
}
.login a{
    color: #333;
}
span.icon-hello{
    position: relative;
    width: 38px;
    height: 38px;
    display: inline-block;
    background: url('../img/sprites-hash-2.png') no-repeat;
    background-position: -166px -142px;
    margin-left: 20px;
    margin-top: 15px;
}
p.loginpls{
    position: relative;
    display: inline-block;
    width: 172px;
    height: 32px;
    padding-left: 3px;
    line-height: 32px;
    border-bottom: 1px dotted #d6d6d6;
    left: 10px;
    top: -16px;
}
.login-link-list-left{
    margin-left: 13px;
    width: 83px;
    float: left;
}
.login-link-list-left span{
    display: block;
}
.login-link-list-right{
    /* width: 110px; */
    float: left;
}
.login-link-list-right span{
    display: block;
}
.sign{
    height: 152px;
    width: 402px;
    padding: 0 29px;
    border: 1px solid #cdcdcd;
    position: absolute;
    background: #fff;
    left: -183px;
    display: none;
    top: 38px;
    z-index: 2;
}
b.arrow-out{
    position: absolute;
    background: #dbdada;
    box-shadow: 0 0 4px rgba(0,0,0,.15);
    left: 43px;
    width: 6px;
    height: 6px;
    bottom: -15px;
    z-index: 10;
    transform: rotate(45deg);
    display: none;
}
b.arrow{
    display: none;
    position: absolute;
    width: 6px;
    height: 6px;
    background: #fff;
    left: 43px;
    bottom: -17px;
    z-index: 11;
    transform: rotate(45deg);
}
span.timeline{
    width: 398px;
    height: 2px;
    margin: 0 auto;
    display: block;
    position: relative;
    top: 50px;
    left: 0px;
    background: #cccccc;
}
span.sign-day{
    width: 24px;
    height: 16px;
    position: absolute;
    top: -7px;
    line-height: 70px;
    text-align: center;
    
}
.day1{
    background: url('../img/sprites-hash-2.png') no-repeat -220px -184px; 
    left: 0px;
}
.day2{
    background: url('../img/sprites-hash-2.png') no-repeat -164px -184px; 
    left: 62px;
}
.day3{
    background: url('../img/sprites-hash-2.png') no-repeat -164px -184px; 
    left: 125px;
}
.day4{
    background: url('../img/sprites-hash-2.png') no-repeat -164px -184px; 
    left: 188px;
}
.day5{
    background: url('../img/sprites-hash-2.png') no-repeat -164px -184px; 
    left: 252px;
}
.day6{
    background: url('../img/sprites-hash-2.png') no-repeat -164px -184px; 
    left: 315px;
}
.day7{
    background: url('../img/sprites-hash-2.png') no-repeat -192px -184px; 
    left: 374px;
}
.sign-bottom{
    position: relative;
    top: 100px;
    margin-left: -2px;
    width: 370px;
    height: 48px;
    border-top: 1px solid #f0f0f0;
}
p.sign-bottom-link{
    display: inline-block;
    margin-top: 10px;
    margin-left: -11px;
}
p.sign-bottom-link a{
    border-bottom: 1px solid #666;
    padding-bottom: 0px;
}
p.sign-bottom-link a:hover{
    border-bottom: 1px solid #f10180;
}
#menu a.sign-button{
    display: inline-block;
    width: 48px;
    height: 22px;
    padding: 0 11px;
    color: #fff;
    background-color: #f10180;
    border: 1px solid #f10180;
    line-height: 22px;
    text-align: center;
    border-radius: 4px;
    position: relative;
    right: -105px;
    top: 0px
}
#menu a.sign-button:hover{
    background: #f43499;
    color:#fff;
}
.myspe{
    height: 108px;
    width: 130px;
    border: 1px solid #cdcdcd;
    position: absolute;
    left: -6px;
    display: none;
    top: 27px;
    padding: 0;
    background: #fff;
    z-index: 2;
}
.myspe span{
    display: block;
    padding-left: 20px;
    margin: 5px 0;
}
.vip{
    height: 98px;
    width: 101px;
    border: 1px solid #cdcdcd;
    padding: 0 10px 10px 0;
    position: absolute;
    left: -6px;
    display: none;
    top: 27px;
    background: #fff;
    z-index: 2;
}
.vip span{
    display: block;
    padding-left: 20px;
    margin: 5px 0;
}
.server{
    height: 129px;
    width: 99px;
    border: 1px solid #cdcdcd;
    padding: 0 10px 10px 0;
    position: absolute;
    left: -6px;
    display: none;
    top: 27px;
    background: #fff;
    z-index: 2;
}
.server span{
    display: block;
    padding-left: 20px;
    margin: 5px 0;
}
.mobile{
    height: 203px;
    width: 185px;
    padding: 12px 0 0 0;
    border: 1px solid #cdcdcd;
    position: absolute;
    left: -101px;
    display: none;
    top: 27px;
    background: #fff;
    z-index: 2;
}
.mobile div{
    width: 161px;
    height: 161px;
    margin: 0 auto;
}
.mobile p{
    margin: 0 auto;
    width: 90px;
    font-size: 14px;
    font-weight: 700;
    line-height: 42px;
    height: 42px;
}
.mobile p a{
    color: #333;
}
.more{
    height: 144px;
    width: 260px;
    padding: 10px 20px;
    border: 1px solid #cdcdcd;
    position: absolute;
    left: -231px;
    display: none;
    top: 27px;
    color: #333;
    background: #fff;
    z-index: 2;
}
.more a{
    color: #333;
}
.more div{
    height: 72px;
    width: 255px;
    /* margin: 0 auto; */
    padding: 0;
}
.more div:nth-of-type(1){
    border-bottom: 1px dotted #d5d5d5;
}
.more p{
    font-size: 14px;
    font-weight: 700;
    margin-top: 5px;
}
.more span{
    margin-right: 15px;
}



/* 顶部logo栏 */
.top-main{
    width: 1000px;
    height: 100px;
    background: #fff;
    margin: 0 auto;
    position: relative;
    z-index: 5;
}
.top-logo{
    display: inline-block;
    width: 160px;
    height: 100px;
    margin-left: -20px;
}
a.logo2-link{
    width: 101px;
    height: 100px;
    display: inline-block;
    z-index: 2;
    position: relative;
    margin-left: -3px;
}
img.logo2{
    position: absolute;
    z-index: 1; 
    left: 140px;
    height: 100px;
}
.shopping-bag{
    display: inline-block;
    float: right;
    position: relative;
    margin-top: 33px;
    margin-left: 20px;
    /* z-index: 11; */
}
.wrap-bag{
    display: inline-block;
    position: relative;
    /* z-index:11; */
    height: 32px;
    width: 40px;
    padding: 0 34px 0 30px;
    line-height: 32px;
    cursor: pointer;
    border: 1px solid #ddd;
    background-color: #f7f7f7;
    border-radius: 3px;
}
.icon-shopping-bag{
    width: 12px;
    height: 17px;
    position: absolute;
    background: url('../img/sprites-hash-2.png') -93px -208px;
    top: 8px;
    left: 13px;
}
.shopping-bag-count{
    width: 24px;
    height: 16px;
    line-height: 16px;
    background: #f00581;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 8px;
    right: 8px;
    border-radius: 8px;
}
.wrap-bag-hover{
    background: #fff;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom: 1px solid #fff;
    padding-bottom: 12px;
    position: relative;
    z-index: 5;
}
.shopping-bag-detail{
    width: 320px;
    background: #fff;
    border: 1px solid #ddd;
    padding: 19px 14px 14px 13px;
    position: absolute;
    top: 45px;
    right: 0px;
    display: none;
    z-index:4;
}
.shopping-bag-content{
    padding: 16px 0;
    text-align: center;
}
.shopping-bag-content p a{
    color: #f10180;
}

.search{
    position: relative;
    width: 338px;
    height: 32px;
    border: 1px solid #4c4c4c; 
    border-radius: 3px;
    background: #fff;
    float: right;
    margin-top: 33px;
}
.search input{
    width: 261px;
    height: 28px;
    border: none;
    padding: 2px 15px;
    color: #333;
    line-height: 30px;
    font-size: 14px;    
    border-radius: 4px;
    outline: none;
    /* 去除选中文本框加的蓝色边框 */
}
.search-button{
    width: 47px;
    height: 32px;
    position: absolute;
    right: 0px;
    top: 0px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
span.icon-search{
    height: 17px;
    width: 17px;
    display: inline-block;
    position: relative;
    top: 7px;
    left: 15px;
    background: url('../img/sprites-hash-2.png') -72px -208px;

}
.search-more{
    width: 338px;
    /* height: 149px; */
    padding-top: 11px;
    border: 1px solid #ddd;
    border-top-width: 0px;
    position: absolute;
    top: 33px;
    left: -1px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background: #fff;
    z-index: 12;
    display: none;
}
.search-history{
    width: 154px;
    padding-bottom:13px;
    padding-left: 15px;
    display: inline-block;
}
.search-recommend{
    display: inline-block;
    float: right;
    border-left: 1px solid #e0e0e0;
    min-height: 139px;
    width: 153px;
    padding-bottom: 10px;
    padding-left: 15px;
}
.search-more p{
    display: inline-block;
    color: #999;
    margin-top: 5px;
    margin-bottom: 20px;
}
.search-recommend li{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    /* display: inline-block; */
}
.search-recommend li a{
    display: inline-block;
    padding: 0 5px;
    line-height: 24px;
    border: 1px solid #e1e1e1;
    border-radius: 2px;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.search-recommend li a:hover{
    color: #f10180;
    border-color: #f10180;
}

/* 顶部导航栏 */
nav{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #f10180;
    color: #fff;
    font-size: 14px;
    float: left;
    z-index: 1;
    /* overflow: hidden; */
}
.top-nav{
    width: 1000px;
    margin: 0 auto;
    height: 40px;
}
.top-nav-left li{
    float: left;
    position: relative;
}
.top-nav-left li a{
    display: inline-block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding: 0 14px;
    font-size: 16px;
    color: #fff;
}
.top-nav-left li a.top-nav-more{
    padding-right: 29px;
}
.top-nav-left li a.curr{
    font-weight: 700;
    background: #bd1067;
    cursor: default;
}
.top-nav-left li a.curr:hover{
    background: #bd1067;
}
.top-nav-left li a:hover{
    background: #db0a76;
}
em.nav-more{
    position: relative;
    border-width: 4px;
    border-style: solid dashed dotted dashed;
    display: inline-block;
    left: -27px;
    bottom: -2px;
    border-color: #fff transparent transparent transparent;
}
em.nav-more-hover{
    margin-top: 0;
    margin-bottom: 5px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}
.top-nav-more-extend{
    width: 555px;
    height: 222px;
    padding: 26px 10px 11px 26px;
    background: #fff;
    position: absolute;
    box-shadow: 0 0 3px 3px rgba(0,0,0,.1);
    right: 12px;
    top: 40px;
    display: none;
    z-index: 11;
}
.top-nav-more-extend li{
    float: left;
    margin: 0 15px 16px 0;
    width: 170px;
    height: 96px;
    position: relative;
    display: inline-block;
    border-radius: 4px;
    overflow: hidden;
}
.top-nav-more-extend li a{
    padding: 0;
    margin: 0;
    height: 96px;
}
.more-shadow{
    height: 96px;
    width: 170px;
    position: absolute;
    top: 38px;
    left: 0px;
    padding: 0;
    border-top: none;
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.9) 100%);
}
.more-shadow p{
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin-top: 25px;
}

.top-nav-right{
    float: right;
}
.top-nav-right li{
    float: left;
    display: inline-block;
    height: 40px;
    position: relative;
    cursor: pointer;
}
i.nav-right-bar{
    position: absolute;
    width: 1px;
    height: 14px;
    background-color: #bd1067;
    top: 13px;
    right: -1px;
    overflow: hidden;
    display: block;
    z-index: -1;
}
.top-nav-right li a{
    display: inline-block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding: 0 14px;
    font-size: 16px;
    color: #fff;
}
.top-nav-right li a.curr{
    font-weight: 700;
    background: #bd1067;
    cursor: default;
}
.top-nav-right li a:hover{
    background: #db0a76;
    z-index: 2;
}
.top-nav-right li a img{
    margin-top: -3px;
    margin-right: 6px;
    vertical-align: middle;
}

/* 右侧边帐号固定栏 */
.nav-side{
    width: 36px;
    height: 100%;
    position: fixed;
    top: 0px;
    right: 0px;
    background: #262626;
    z-index: 101;
    clear: both;
    display: block;
}
.nav-side-wrap{
    position: relative;
    height: 100%;
    font-family: "Microsoft YaHei";
    z-index: 101;
    background: #262626;
    clear: both;
}
.nav-side-main{
    height: 400px;
    width: 36px;
    position: absolute;
    top: 50%;
    margin-top: -250px;
    color: #fff;
    /* z-index: 101; */
    background: #262626;
    clear: both;
}
.nav-side-main ul{
    background: #262626;
    height: 1000px;
}
.nav-side-main ul li{
    margin-bottom: 7px;
    position: relative;
}
.nav-side-main ul li:first-child{
    margin-bottom: 1px;
}
/* 从第二个开始 */
.nav-side-main ul li:nth-child(n+2):hover{
    background: #df147f;
}
/* .nav-side-main ul li:first-child:hover{
    background: none;
} */
.side-account-head-hover{
    background: #df147f;
}
.side-account-head{
    height: 42px;
    width: 36px;
    padding: 3px 0 10px 0;
    text-align: center;
    cursor: pointer;
    position: relative;

}
.side-account-head span.icon-side-account{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    font-size: 24px;
}
.side-account-content{
    position: absolute;
    right: -300px;
    top: 0px;
    width: 274px;
    padding: 0 0px;
    border: 1px solid #cecece;
    border-right: none;
    transition: 0.2s linear;
    box-shadow: -5px 1px 8px rgba(0,0,0,.15);
    z-index: -1;
}
.side-account-content-show{
    right: 36px;
}
.account-close{
    position: relative;
    float: right;
    top: 16px;
    right: -1px;
    display: inline-block;
    width: 18px;
    height: 14px;
    background: url('../img/sprite-hash-3.png') no-repeat;
    background-position: -178px -173px;
    cursor: pointer;
}
.account-close:hover{
    background-position: -196px -173px;
}
.side-account-content-login{
    background: #fff;
    text-align: center;
    color: #333;
    padding: 0px 14px 23px;
}
.side-account-content-login a.img-login{
    display: inline-block;
    width: 66px;
    height: 66px;
    margin: 30px auto 20px;
    position: relative;
    border: 1px solid #fff;
    box-shadow: 0 1px 3px #ddd;
}
.side-account-content-login a{
    color: #df147f;
}
.side-account-content-order{
    padding: 14px 0;
    width: 274px;
    background: #f8f8f8;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;
}
.account-content-order-myorder{
    float: left;
    position: relative;
    width: 136px;
    height: 66px;
    padding-top: 10px;
    text-align: center;
    border-right: 1px solid #e5e5e5;
}
span.side-myorder{
    display: block;
    width: 26px;
    height: 26px;
    margin: 0 auto;
    background: url('../img/sprite-hash-3.png');
    background-position: -200px -90px;
    margin-bottom: 10px;
}
.side-account-content-order a:hover span.side-myorder{
    background-position: -200px 0px;
}
.side-account-content-order a:hover{
    color: #df147f;
}

.account-content-order-mymessage{
    float: left;
    position: relative;
    width: 135px;
    height: 66px;
    padding-top: 10px;
    text-align: center;
}
span.mymessage{
    background-position: -200px -60px;
}
.side-account-content-order a:hover span.mymessage{
    background-position: -200px -30px;
}
.side-account-content-vip{
    padding: 12px 26px;
    text-align: right;
    background: #fff;
}
.side-account-content-vip a{
    color: #20a0cd;
}


.side-bag-head{
    background: #df147f;
    padding-bottom: 20px;
    cursor: pointer;
    position: relative;
    display: block;
}
i.side-bag-arrow{
    position: absolute;
    font-style: normal;
    display: none;
    width: 5px;
    height: 5px;
    background: #fff;
    transform: rotate(45deg);
    top:65px;
    left: -3px;
}

span.icon-side-bag{
    display: block;
    font-size: 20px;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
}
p.side-bag-head-name{
    display: block;
    width: 14px;
    line-height: 18px;
    margin: 0 auto;
    font-size: 14px;
    padding: 6px 0;
}
i.side-bag-head-count{
    font-style: normal;
    position: relative;
    display: block;
    width: 18px;
    height: 18px;
    background: #fff;
    color: #df147f;
    border-radius: 50%;
    margin: 0px auto;
    line-height: 18px;
    text-align: center;
    font-size: 12px;
}
.side-common-content{
    position: absolute;
    right: -300px;
    top: 0;
    overflow: hidden;
    width: 246px;
    padding: 0 14px;
    background-color: #fff;
    border: 1px solid #cecece;
    border-right: none;
    transition: 0.2s linear;
    box-shadow: -5px 1px 8px rgba(0,0,0,.15);
    z-index: -1;
}
.side-common-content-show{
    right: 36px;
}
.common-login{
    margin-bottom: 40px;
}
.commom-content-close{
    right: -15px;
}
.side-head-common{
    padding: 0px 0px;
    text-align: center;
    cursor: pointer;
    position: relative;
}
.side-head-hover{
    position: absolute;
    right: -120px;
    top: 0;
    z-index: -1;
    width: 100px;
    height: 34px;
    line-height: 34px;
    padding: 0 8px;
    border-radius: 3px 0 0 3px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-right: none;
    font-size: 14px;
    text-align: center;
    transition: 0.3s linear;
    color: #333;
    cursor: pointer;
    display: block;
}
.side-head-hover-show{
    right: 36px;
}

span.icon-side-common{
    display: block;
    font-size: 22px;
    text-align: center;
    line-height: 36px;
}

.nav-side-bottom{
    color: #ccc;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: #262626;
    
}
.side-feedback{
    margin-bottom: 7px;
    text-align: center;
    width: 36px;
}
.side-feedback a{
    color: #ccc;
}
.side-feedback:hover{
    background: #df147f;
}
.side-feedback:hover a{
    color: #fff;
}
.side-backtop{
    margin-bottom: 7px;
    text-align: center;
    width: 36px;
    cursor: pointer;
}
.side-backtop:hover{
    background: #df147f;
    color: #fff;
}
.back_top{
    top: 43px;
}

.side-bag-inner{
    right: 0px;
    top: 50%;
    margin-top: -194px;
    position: fixed;
    width: 36px;
    color: #fff;
    border-radius: 3px 0 0px 3px;
    z-index: 11;
}
.side-backtop-inner{
    position: fixed;
    right: 0px;
    bottom: 0px;
    background: #262626;
    color: #ccc;
    z-index: 11;
}


/* 筛选栏 */
.filter-wrap{
	clear: both;
	width: 1000px;
	margin: 0 auto;
	/* background: #f9f2f4; */
}
.filter-wrap a:hover{
	color: #f10180;
}
/* 筛选条件 */
.filter-result{
	padding: 13px 0;
	color: #666;
	/* overflow: hidden; */
}
.filter-result::after{  /*  清楚浮动 */
    content: '';
    display: block;
    clear: both;
    height: 0;
}
.filter-result ul{
}
.filter-result li{
	margin-bottom: 10px;
	float: left;
	line-height: 26px;
}
li.all-search-result a{
	text-decoration: underline;
}
span.filter-result-arrow{
	display: inline-block;
	margin-right: 10px;
    margin-left: 10px;
    line-height: 26px;
    color: #999;
    vertical-align: top;
    font-family: simsun;
}
span.curr-search-key{
	font-weight: bold;
}
.search-filter{
	max-width: 200px;
	/* overflow: hidden; */
	padding: 0 40px 0 10px;
	position: relative;
	border: 1px solid #d1d1d1;
    border-radius: 3px;
    float: left;
    line-height: 24px;
}
.search-filter::after{
    content: '';
    display: block;
    clear: both;
    height: 0px;
}
.search-filter:hover{
    border-color: #f10180;
}
.search-filter-sort{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
span.filter-sort-content{
    color:  #f10180;
}
span.del-filter-sort{
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding:4px 7px;
    font-size: 14px;
    text-align: center;
    line-height: 16px;
    color: #999;
    cursor: pointer;
}
.search-filter:hover span.del-filter-sort{
    background: #f10180;
    color: #fff;
}


/* 女装母婴的特殊过滤 */
.search-filter-type{
    max-width:60px;
    padding-right:24px;
    cursor:pointer;
    position: relative;
}
.search-filter-type:hover{
    border-bottom-color: #fff;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
a.type-link{
    text-decoration:none;
}
a.type-link:hover span.type-sort-arrow{
    color: #333;
}
span.type-sort-arrow{
    position: absolute;
    width: 10px;
    height: 10px;
    top: 0px;
    right: 9px;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
}
.type-dropdown{
    display: none;
    position: absolute;
    border-radius:3px;
    border-top-left-radius: 0px;
    border:1px solid #f10180;
    padding:10px 0;
    width: 130px;
    top: 24px;
    left:-1px;
    z-index:1;
    background: #fff;
    color: #999999;
    cursor: auto;
}
/* 添加白条 */
.type-dropdown::before{
    content: '';
    height: 1px;
    width: 58px;
    position: absolute;
    background: #fff;
    top: -1px;
    left: 0px;
    display: block;
    z-index: 10;
}
.type-dropdown p{
    padding-left: 20px;
    display: block;
}
.type-dropdown a{
    color: #666666;
}




/* 选择筛选的条件 */
.filter-box{
    border: 1px solid #dfdfdf;
    background: #fff;
    position: relative;
    /* max-height: 393px; */
}
/* 每一个类型的条件 */
.filter-section{
    border-top: 1px dotted #ddd;
    overflow: hidden;
    position: relative;
    margin-top: -1px;
    display: block;
}
h3.filter-section-title{
    font-weight: 400;
    position: relative;
    font-size: 12px;
    /* float: left; */
    padding: 12px 0;
    padding-left: 20px;
    width: 95px;
    display: inline-block;
    vertical-align: top;
    color:#666666;
}
.filter-operation{
    position: absolute;
    display: inline-block;
    top: 12px;
    right: 12px;
}
button.extend-list{
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    color: #666;
    vertical-align: middle;
}
span.button-icon-extend{
    color: #999;
    display: inline-block;
    width: 16px;
    font-size: 14px;
    /* background: pink; */
}
span.filter-button-txt{
    color: #666;
    display: inline-block;
    margin: 0;
    font-size: 12px;
}
button.select-more{
    width: 48px;
    line-height: 20px;
    text-align: center;
    background-color: #fff;
    color: #666;
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    padding: 0;

}
span.butto-icon-add{
    display: inline-block;
    color: #ccc;
    width: 16px;
    margin-right: 2px;
    font-size: 12px;
}
.filter-command{
	display: none;
	padding: 10px 0 22px;
	text-align: center;
}
button.submit{
	border: 1px solid #d0d0d0;
    color: #999;
    background: #d0d0d0;
    width: 58px;
    display: inline-block;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 20px;
    font-size: 12px;
    height: 22px;
    outline: none;
    cursor: not-allowed;
}
button.submit-clickable{
	color: #fff;
	cursor: pointer;
	background: #f10180;
	border-color: #f10180;
}
button.cannel{
	border: 1px solid #d0d0d0;
    color: #999;
    background: #fafafa;
    width: 58px;
    display: inline-block;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
    height: 22px;
    outline: none;
}

/* 加.filter-brand 为品牌选项的样式 */
.filter-brand .filter-section-list{
    overflow: hidden;
    width: 703px;
    padding-right: 20px;
    max-height: 199px;
}
.filter-brand .filter-section-list ul{
     /* overflow: hidden; */
    padding-top: 1px;
    padding-left: 1px;
    margin: 0;
}
.filter-brand .filter-section-list li{
    float: left;
    margin-right: 0px;
    line-height: 0px;
    margin: 0;
}
.filter-brand .filter-section-list li a{
    display: block;
    width: 100px;
    height: 100px;
    border: 1px solid #f0f0f0;
    margin-top: -1px;
    margin-left: -1px;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}
.filter-brand .filter-section-list li a:hover{
    border-color: #f10180;
    z-index: 1;
}
.filter-brand .filter-section-list li a.selected{
    border-color: #f10180;
    z-index: 1;
    border-width: 2px;
}
.filter-brand .filter-section-list li a img{
    width: 80px;
    margin-top: 30px;
    text-align: center;
}
.filter-brand .filter-section-list li a:hover img{
    display: none;
}
.filter-brand .list-img-hover-txt{
    display: none;
    position: absolute;
    background: #fff;
    color: #f10180;
    padding-right: 9px;
    padding-left: 9px;
    width: 80px;
    line-height: 100px;
    height: 100%;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.filter-brand .filter-section-list li a:hover .list-img-hover-txt{
    display: block;
}


/* 不加.filter-brand 为其他分类通用样式 */
.filter-section-content{
    padding: 12px 0;
    display: inline-block;  
}
.filter-section-list{
    overflow: hidden;
    width: 711px;
    padding-right: 20px;
    max-height: 16px;
}

.filter-section-list ul{
    overflow: hidden;
    margin-top: -9px;
}
.filter-section-list li{
    float:left;
    margin-right: 50px;
    margin-top: 10px;
    line-height:16px;
    color:#333333;
    position: relative;
}
/* 展开更多选项 */
.fliter-section-extend{
    display: none;
}
.extend-filter-section{
    position: absolute;
    width: 118px;
    height: 26px;
    border: 1px solid #dfdfdf;
    border-top-color: #fff;
    background: #fff;
    text-align: center;
    line-height: 26px;
    bottom: -28px;
    left: 50%;
    margin-left: -60px;
    cursor: pointer;
}
.extend-filter-section p{
    display: inline-block;
}
.extend-filter-section span{
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    padding-left: 5px;
}
a.a-multiple{
    padding-left: 24px;
}
a.a-multiple:hover::before{
    background-position: -24px -21px;
}
a.a-multiple::before{
    content: '';
    display: block;
    width: 19px;
    height: 16px;
    position: absolute;
    top: 0px;
    left: 0px;
    background: url('../img/sprite-hash-checkbox.png') no-repeat;
    background-position: -48px 0px;
}
a.a-multiple-select{
    padding-left: 24px;
}
a.a-multiple-select::before{
    content: '';
    display: block;
    width: 19px;
    height: 16px;
    position: absolute;
    top: 0px;
    left: 0px;
    background: url('../img/sprite-hash-checkbox.png') no-repeat;
    background-position: -24px 0px;
}
/* a.a-multiple-select:hover::before{
    background-position: -24px 0px;
} */
.list-extend-common{    /* 其他选项展开的最大高度 */
    max-height: 94px;
}

.filter-brand .list-extend-brand{    /* 品牌选项展开的最大高度 */
    max-height: 397px;
}
.filter-section-content .list-scroolbar{
    padding-right: 20px;
    overflow-y: auto;   /* 出现滚动条 */
}
.list-scroolbar::-webkit-scrollbar-thumb{ /*滚动条里面小方块*/
    border-radius: 10px;
    background: rgba(0,0,0,.2);
}
/* 滚动条样式 */
.list-scroolbar::-webkit-scrollbar{ /*滚动条整体样式*/
    width: 8px;
    height: 8px;
}



/* 结果排序栏 */
.sort-nav{
    width: 998px;
    height: 46px;
    border: 1px solid #dfdfdf;
    background-color: #f5f5f5;
    margin: 10px auto;
    margin-top: 48px;
    clear: both;
}
.sort-nav-left{
    float: left;
}
.sort-nav-left>div{
    box-sizing: border-box;
    line-height: 46px;
    text-align: center;
    position: relative;
    
    height: 46px;
    border-right: 1px solid #e5e5e5;
    color: #333333;
    cursor: pointer;
    display: inline-block;
}
.sort-nav .sort-nav-left>div.curr{
    color: #f10180;
    border: 1px solid #f10180;
    font-weight: 600;
    background: #fff;
}
.sort-nav .comprehensive-sort{
    width: 61px;
}
.sort-nav .price-sort{
    width: 66px;
}
.sort-nav .discount-sort{
    width: 66px;
}
.sort-nav i.icon-arrow-up{
    width: 10px;
    height: 10px;
    position: absolute;
    display: inline-block;
    font-style: normal;
    top: -2px;
    right: 14px;
    font-size: 13px;
    /* background: pink; */
}
.sort-nav i.icon-arrow-down{
    top: 5px;
}
span.arrow-txt{
    padding-right: 10px;
}
.sort-nav .input-price{
    width: 218px;
    border-right: none;
    margin-left: -4px;
}
.sort-nav .input-price-focus{
    border: 1px solid #c8c8c8;
    bottom: 0px;
    background-color: #fff;
}
.sort-nav .input-price input{
    width: 61px;
    height: 22px;
    border: 1px solid #afafaf;
    outline: none;
}
.sort-nav .input-price input:first-child{
    margin-left: -6px;
    margin-right: 1px;
}
.sort-nav .input-price input:nth-of-type(2){
    margin-left: 2px;
}
.sort-nav .input-price input:focus{
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2)
}
.sort-nav .input-price a.input-price-btn{
    opacity: 0;
    background: #f10180;
    display: inline-block;
    color: #fff;
    text-align: center;
    cursor: default;
    width: 24px;
    height: 22px;
    padding: 0 6px;
    font-size: 12px;
    border-radius: 3px;
    line-height: 22px;
    margin-left: 9px;
}
.sort-nav-right{
    float: right;
    line-height: 46px;
    text-align: center;
}

.sort-nav-right .sort-nav-page{
    text-align: center;
    height: 46px;
    line-height: 46px;
    display: inline-block;
}
.sort-nav-right .sort-nav-page span.curr-page{
    color: #f10180;
}
.sort-nav-right a.sort-nav-prevpage{
    padding: 0px 3px ;
    height: 22px;
    width: 18px;
    display: inline-block;
    margin-left: 3px;
    margin-right: 3px;
    font-weight: 400;
    border: 1px solid #dbdbdb;
    cursor: not-allowed;
    background-color: #fafafa;
    color: #d1d1d1;
    vertical-align: middle;
    line-height: 22;
    border-radius: 2px;
}
.sort-nav-right a.sort-nav-prevpage>span{
    position: relative;
    top: -165px;
    left: 0px;
}
.sort-nav-right a.sort-nav-nextpage{
    display: inline-block;
    line-height: 22px;
    padding: 0 3px;
    vertical-align: middle;
    width: 54px;
    margin-left: 3px;
    margin-right: 3px;
    background: #fff;
    color: #848585;
    border-radius: 2px;
    text-align: center;
    border: 1px solid #b8b8b8;
    height: 24px;
}
.sort-nav-right a.sort-nav-nextpage span.netx-page-arrow{
    height: 10px;
    width: 10px;
    margin-left: 2px;
    position: relative;
    top: 1px;
    display: inline-block;
}


/* 搜索的结果列表 */
.search-result{
    width: 1036px;
    margin: 0 auto;
}
.search-result-list{
    overflow: hidden;
    padding-left: 2px
}
.search-result-list ul{
    width: 100%;
}
.search-result-list ul li{
    float: left;
    min-height: 397px;
}
.result-list-card{
    border: 1px solid transparent;
    padding: 10px;
    width: 235px;
}
.result-list-card:hover{
    border: 1px solid #e5e5e5;
    box-shadow: 0 0 6px rgba(0,0,0,.1);
}
.result-list-card a.result-list-card-img{
    display: block;
    width: 235px;
    height: 297px;
    position: relative;
    overflow: hidden;
}
.result-list-card img{
    width: 235px;
    height: 297px;
    overflow: hidden;
}
.result-list-card p.discount-txt{
    position: absolute;
    width: 210px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    padding-left: 25px;
    bottom: 0px;
    left: 0px;
    background: rgba(0,0,0,.6);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.result-list-card p.discount-txt>span{
    display: inline-block;
    background: url('../img/sprites-hash-result.png');
    background-position: -228px -107px;
    width: 8px;
    height: 8px;
    position: absolute;
    left: 10px;
    top: 12px;
}
.result-list-card .price-info{
    width: 235px;
    height: 30px;
    line-height: 30px;
}

.price-info span.now-price{
    color: #f10180;
    font-size: 12px;
}
.price-info span.now-price h3{
    font-size: 22px;
    display: inline-block;
    padding-left: 2px;
}
.price-info span.prev-price{
    display: inline-block;
    vertical-align: top;
    margin-left: 28px;
    padding-top: 4px;
    color: #999;
    text-decoration: line-through;
}
.price-info span.discount{
    float: right;
    margin-left: 10px;
    padding-right: 3px;
    padding-left: 3px;
    color: #f1b13b;
    border: 1px solid #f1b13b;
    border-radius: 2px;
    margin-top: 3px;
    height: 18px;
    display: inline-block;
    line-height: 18px;
}
.search-result-list ul li a.goods-title{
    display: block;
    color: #666;
    margin-bottom: 8px;
    font-weight: 400;
}
.search-result-list ul li a.goods-title span.brand{
    display: inline-block;
    margin-right: 5px;
}

/* 底部翻页栏 */
.button-page{
    width: 1000px;
    margin: 0px auto;
    text-align: center;
    margin-top: 30px;
}
.button-page span.all-page{
    margin-right: 20px;
    font-size: 14px;
    color: #666;
}
.button-page span.page-dot{
    display: inline-block;
    margin-bottom: 12px;
    vertical-align: middle;
}
.button-page a{
    display: inline-block;
    margin: 0 1px;
    border: 1px solid #c8c8c8;
    border-radius: 3px;
    padding: 0;
    width: 44px;
    height: 44px;
    line-height: 44px;
    font-size: 16px;
    color: #999;
    background-color: #fff;
    text-align: center;

}
.button-page a:hover{
    border: 1px solid #f10180;
    background-color: #fef9fb;
}
.button-page a.curr-page{
    background: #f10180;
    color: #fff;
    border-color:  #f10180;
}
.button-page a.next-page{
    width: 48px;
    font-weight: 600;
}





/* footer底部 */
footer{
    border-top: 1px solid #ebebeb;
    background-color: #fcfcfc;
    color: #4d4d4d;
    clear: both;
    width: 100%;
    margin-top: 60px;
}
.footer-wrap{
    /* background: #f5eff0; */
    width: 960px;
    margin: 0 auto;
}
.vip-advance{
    padding-top: 30px;
    clear: both;
}
ul.vip-advance-list{
    width: 1000px;
    overflow: hidden;
}
.vip-advance-list li{
    float: left;
}
.vip-advance-list li span{
    width: 58px;
    height: 74px;
    display: inline-block;
    font-size: 16px;
    margin-right: 27px;
    margin-left: 11px;
    background: url('../img/footer_vip_icons.png') no-repeat;
    background-position: 0px 0px;
}
.vip-advance-list li span.vip-advance-02{
    background-position: -80px 0px;
}
.vip-advance-list li span.vip-advance-03{
    background-position: -160px 0px;
}
.vip-advance-list li span.vip-advance-04{
    background-position: -240px 0px;
}
.vip-advance-list li span.vip-advance-05{
    background-position: -320px 0px;
}
.vip-advance-list li span.vip-advance-06{
    background-position: -400px 0px;
}
.vip-advance-list li span.vip-advance-07{
    background-position: -480px 0px;
}
.vip-advance-list li span.vip-advance-08{
    background-position: -560px 0px;
}
.vip-advance-list li span.vip-advance-09{
    background-position: -640px 0px;
}
.vip-advance-list li span.vip-advance-10{
    background-position: -720px 0px;
}

.footer-link-list{
    width: 960px;
    overflow: hidden;
    margin-top: 37px;
    margin-bottom: 25px;
}
.footer-link-list dl{
    float: left;
    width: 145px;
    height: 146px;
    padding-left: 16px;
    border-right: 1px solid #e0e0e0;
}
.footer-link-list dl:last-child{
    border-right: none;
    width: 134px;
}
.footer-link-list dt{
    color: #4d4d4d;
    margin-bottom: 4px;
}
.footer-link-list dl a{
    color: gray;
}
.footer-link-list dd{
    line-height: 20px;
    transition: transform 0.2s ease-out; 
    -webkit-transition: transform 0.2s ease-out;  
    padding-left: 8px;
    background: url('../img/footer-hash.png') no-repeat -6px -494px;
}
.footer-link-list dd:hover{
    /* margin-left: 2px; */
    transform: translateX(2px);
    background-position: -6px -513px;
}
.footer-link-list dd:hover a{
    color: #f10180;
}
.footer-nav{
    color: #fff;
    text-align: center;
}
.footer-nav a{
    color: #fff;
}
.footer-nav a:hover{
    color: #ccc;
}
p.footer-nav-link{
    background: #d7237e;
    line-height: 30px;
}
.footer-info{
    padding-top: 15px;
    padding-bottom: 20px;
}
p.footer-info-txt{
    text-align: center;
    line-height: 20px;
    color: gray;
}
p.footer-info-txt a{
    color: gray;
}
p.footer-info-txt img{
    top: 2px;
    left: -2px;
    position: relative;
}
p.footer-info-txt a:hover{
    color: #f10180;
}
.footer-img{
    width: 960px;
    margin: 0 auto;
    text-align: center;
}
.footer-img span{
    height: 40px;
    margin-right: 9px;
    display: inline-block;
    background: url('../img/footer-hash.png') no-repeat;
}
span.footer-img01{
    width: 105px;
    background-position: 0px 0px;
}
span.footer-img02{
    width: 99px;
    background-position: 0px -150px;
}
span.footer-img03{
    width: 66px;
    background-position: 0px -200px;
}
span.footer-img04{
    width: 70px;
    background-position: 0px -250px;
}
span.footer-img05{
    width: 75px;
    background-position: 0px -300px;
}
span.footer-img06{
    width: 76px;
    background-position: 0px -400px;
}
span.footer-img07{
    width: 76px;
    background-position: 0px -450px;
}
